.trung-iphone {
    text-align: center;
    color: #005045;
    background: url("../images/bg-sky.png") repeat-x top;
    .wrap-content {
        position: relative;
        margin: 0 auto;
        max-width: 1100px;
        padding: 0;
        @include respond-to(ipad) {
            margin: 0 20px;
        }
        &.stream-live2{
            h3 {
                padding-top: 10px;
                background: url('../images/trungiphone/title-slide.png') no-repeat center;
                min-height: 43px;
                text-indent: -9999px;
                @include respond-to(mobile) {
                    max-width: 388px;
                    margin: 0 auto;
                    padding: 0;
                    background-size: 100%;
                }
            }
            .time-event {
                max-width: 515px;
                margin: 0 auto;
                position: relative;

                .text {
                    position: absolute;
                    font-size: 21px;
                    max-width: 300px;
                    top: 33%;
                    right: -47%;
                    @include respond-to(ipad){
                        max-width: 240px;
                        font-size: 16px;
                        right: -24%;
                    }
                    @include respond-to(mobile){
                        position: static;
                        font-size: 18px;
                        line-height: 21px;
                        margin: 15px auto 0;
                    }
                }
            }
            .video-live {
                background: rgba(255, 255, 255, 0.42);
                border: 3px solid #fff;
                padding: 0 40px 15px;
                margin-top: 20px;
                @include border-radius(10px);
                @include respond-to(mobile){
                    padding: 0 10px 15px;
                    margin: 10px;
                    p {
                        font-size: 18px;
                    }
                }
                .slide-video {
                    .item{
                        padding: 0 10px;
                    }
                    .thumbnail {
                        border: 3px solid #fff;
                        @include border-radius(10px);

                    }
                }
                .slick-arrow {
                    top: 42%;
                    @include respond-to(mobile){
                        top: 46%;
                    }
                }
                .slick-next {
                    right: -6%;
                    @include respond-to(ipad){
                        right: -7%;
                    }
                }
                .slick-prev {
                    left: -6%;
                    @include respond-to(ipad){
                        left: -7%;
                    }
                }
            }
        }
    }
    p {
        margin: 0;
        span {
            color: #fc0707;
        }
    }
    .col-half {
        @include respond-to(mobile) {
            padding: 0 10px;
        }
    }
    .block-heading {
        padding: 30px 0 40px;
        background: url("../images/page-parent/bg-mount.png") center 340px no-repeat;
        @include respond-to(mobile) {
            padding: 30px 0 10px;
        }
        ::-webkit-scrollbar-track {
            margin: 5px;
            background-color: #F8F8F8;
        }
        ::-webkit-scrollbar {
            width: 10px;
            background-color: #F8F8F8;
        }
        ::-webkit-scrollbar-thumb {
            background-color: #00c8db;
            @include border-radius(20px);
        }
        .time-event {
            margin-top: 105px;
            padding-right: 3%;
            @include respond-to(mobile) {
                padding: 0;
                margin-top: 0;
            }
            .box {
                background: url("../images/trungiphone/bg-1.png") no-repeat center top;
                padding: 25px 50px;
                background-size: 100% 100%;
                @include respond-to(ipad) {
                    background: url("../images/trungiphone/bg-1-mob.png") no-repeat center top;
                    background-size: 100% 100%;
                    margin-top: 20px;
                    padding: 15px 10px;
                    max-width: 350px;
                    margin: 0 auto;
                }
                @include respond-to(mobile) {
                    background: url("../images/trungiphone/bg-1-mob.png") no-repeat center top;
                    background-size: 100% 100%;
                    margin-top: 20px;
                    padding: 15px 10px;
                    max-width: 350px;
                    margin: 0 auto;
                }
            }
        }
        #counter {
            max-width: 260px;
            margin: 0 auto;
            position: relative;
            @include respond-to(ipad) {
                max-width: 168px;
                margin: 0 auto 10px;
            }
            @include respond-to(mobile) {
                max-width: 168px;
                margin: 0 auto 10px;
            }
            span {
                width: 33.33%;
                display: inline-block;
                vertical-align: top;
                font-size: 22px;
                margin-bottom: 8px;
                @include respond-to(ipad) {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                @include respond-to(mobile) {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
            }
            .ab {
                position: absolute;
                top: 60px;
                left: -50px;
                width: auto;
                @include respond-to(ipad) {
                    top: 38px;
                    left: -31px;
                }
                @include respond-to(mobile) {
                    top: 38px;
                    left: -31px;
                }
            }
            .wrap {
                span {
                    background: url('../images/trungiphone/bg-number.png') no-repeat;
                    width: 85px;
                    height: 76px;
                    color: #ff0000;
                    background-size: 100%;
                    font-weight: bold;
                    font-size: 44px;
                    padding-top: 25px;
                    @include respond-to(ipad) {
                        width: 55px;
                        height: 45px;
                        padding-top: 14px;
                        font-size: 22px;
                        margin-bottom: 0;
                    }
                    @include respond-to(mobile) {
                        width: 55px;
                        height: 45px;
                        padding-top: 14px;
                        font-size: 22px;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .heading {
            margin: 0 auto 10px;
            text-indent: -9999px;
            background: url("../images/trungiphone/heading.png") no-repeat;
            width: 259px;
            height: 52px;
            @include respond-to(mobile) {
                margin-bottom: 20px;
            }
        }
        p {
            font-size: 18px;
            line-height: 26px;
            margin: 10px 0;
            @include respond-to(ipad) {
                font-size: 12px;
                line-height: 18px;
                margin: 5px 0;
            }
            @include respond-to(mobile) {
                font-size: 12px;
                line-height: 18px;
                margin: 5px 0;
            }
        }
        .box-img {
            background: #f9f9f9;
            border: 2px solid #fff;
            max-height: 450px;
            margin-top: 10px;
            /*overflow:hidden; */
            overflow-y: auto;
            padding: 20px;
            @include border-radius(10px);
            @include box-shadow(0,
            5px,
            20px,
            #aaa);
            .wrap {
                p {
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
    }
    h3 {
        font-size: 30px;
        padding: 20px;
        line-height: 42px;
        color: #147ec8;
        font-weight: bold;
        @include respond-to(mobile) {
            font-size: 22px;
            line-height: 26px;
            padding: 10px;
        }
    }
    .block-tracuu {
        background: #00c8db;
        padding: 30px 0;
        color: #fff;
        @include respond-to(mobile) {
            padding: 20px 10px;
        }
        p.col-half {
            text-align: left;
        }
        h3 {
            color: #fff;
            margin-top: 20px;
        }
        .wrap-content {
            color: #004a3d;
            background: #fff5eb;
            overflow: hidden;
            @include border-radius(10px);
            h3 {
                color: #147ec8;
                display: block;
                margin-top: 0;
                background: #ededed;
            }
        }
        .box-result {
            .wrap-content {
                overflow: initial;
                padding: 37px 0;
                @include respond-to(ipad) {
                    padding: 10px 0;
                }
                @include respond-to(mobile) {
                    padding: 0;
                    .slick-arrow  {
                        display: none !important;
                    }
                }
                &:before {
                    content: "";
                    position: absolute;
                    background: url('../images/trungiphone/conner-left.png') no-repeat;
                    width: 145px;
                    height: 439px;
                    top: 25px;
                    left: -145px;
                    z-index: 0;
                    display: none;
                    @include screen( large ) {
                        display: block;
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    background: url('../images/trungiphone/conner-right.png') no-repeat;
                    width: 131px;
                    height: 435px;
                    top: 40px;
                    right: -115px;
                    z-index: 0;
                    display: none;
                    @include screen( large ) {
                        display: block;
                    }
                }
            }
        }
        .list-result {
            padding: 20px 2%;
            li {
                text-align: center;
                list-style: none;
                padding: 20px 40px;
                @include respond-to(mobile) {
                    padding: 0;
                }
            }
            img {
                display: inline-block;
                border: 2px solid #fff;
                max-width: 100%;
                @include box-shadow(-5px,
                5px,
                20px,
                #aaa);
                @include border-radius(20px);
            }
            table {
                width: 96%;
                font-size: 16px;
                margin: 0px auto;
                @include respond-to(mobile) {
                    font-size: 14px;
                }
                th {
                    font-weight: bold;
                    padding: 20px;
                    border: 1px solid;
                    color: #005045;
                    text-transform: uppercase;
                }
                .name {
                    font-weight: bold;
                }
                td {
                    padding: 20px;
                    border: 1px solid;
                    color: #333;
                }
            }
            h4 {
                font-size: 19px;
                font-weight: bold;
                margin-bottom: 20px;
                line-height: 24px;
                @include respond-to(mobile) {
                    font-size: 16px;
                }
                span {
                    color: #ff0000;
                }
            }
        }
        .btn-thele {
            background: url('../images/trungiphone/btn-thele.png') no-repeat;
            width: 241px;
            height: 59px;
            margin: 20px auto;
            display: block;
            text-indent: -9999px;
        }
        .input {
            position: relative;
            max-width: 55%;
            margin: 25px auto;
            @include respond-to(ipad) {
                max-width: 85%;
            }
            @include respond-to(mobile) {
                max-width: 90%;
            }
            .col-half {
                font-size: 16px;
                vertical-align: middle;
                @include respond-to(mobile) {
                    font-size: 13px;
                }
            }
            input {
                width: 100%;
                height: 58px;
                padding: 0 20px;
                font-size: 30px;
                color: #005045;
                font-weight: lighter;
                @include border-radius(30px);
                @include respond-to(mobile) {
                    height: 40px;
                    font-size: 22px;
                }
            }
            .field {
                position: relative;
            }
            .search {
                position: absolute;
                top: -2px;
                right: 0;
                width: 63px;
                height: 63px;
                background: url("../images/trungiphone/search.png") no-repeat;
                background-size: 100% 100%;
                @include respond-to(mobile) {
                    width: 42px;
                    height: 42px;
                }
            }
        }
        .box-thanks {
            padding: 25px 0;
            font-size: 17px;
            line-height: 22px;
            background: url("../images/trungiphone/bg-blurgray.png") no-repeat center top;
            @include respond-to(mobile) {
                font-size: 12px;
                padding: 10px 10px;
            }
            span {
                color: #fc0707;
            }
        }
    }
    .block-tnc {
        background: url("../images/trungiphone/bg-tnc.png") no-repeat center 2px;
        display: none;

        .col-half {
            height: 450px;
        }
        .text {
            text-align: left;
            padding-left: 20px;
            p {
                margin: 10px 0;
            }
        }
        table {
        	width: 100%;

        	tr {

        	}
        	td, th {
    		    border: 1px solid #005045;
    		    text-align: center;
    		    line-height: 1.3em;
    			padding: 10px;
        	}
        }
    }

    .wrap-download-app {
    	@include screen( medium ) {
    		margin: 0 auto;
    	}
    }
}

.slick-arrow {
    &:before {
        display: none;
    }
    &.slick-prev {
        left: 0%;
        z-index: 10;
        @include spritePos( 0,
        3,
        66px,
        67px);
        @include respond-to(mobile) {
            top: 36%;
        }
        &:hover {
            @include spritePos( 3,
            3,
            66px,
            67px);
        }
    }
    &.slick-next {
        z-index: 10;
        right: 0%;
        @include respond-to(mobile) {
            top: 36%;
        }
        @include spritePos( 0,
        0,
        66px,
        67px);
        &:hover {
            @include spritePos( 3,
            0,
            66px,
            67px);
        }
    }
}
