/*
** HEADER
*/
header {

	&#main-header {
		width: 100%;
		/*max-width: 820px;*/
		/* margin-left: -400px; */
		margin: 0 auto ;
		text-align: center;
		padding-top: 20px;
		position: relative;
		/* @include ab( 20px, 50%, n, n ); */

		.main-nav {
			text-align: center;
			@include respond-to(mobile){
				position: absolute;
				width: 100%;
			    z-index: 99;
			    display: none;
			    top: 80px;
				border-bottom: 1px solid #A9A5A5;
			}
			a {
				font-family: $font-uvnR;
				font-size: 16px;
				color: #005146;
				padding: 10px 25px;
				font-weight: bold;
				text-transform: uppercase;
				display: inline-block;
				@include border-radius( 19px, 19px, 19px, 19px );
				@include respond-to(ipad){
					font-size: 14px;
				}
				@include respond-to(mobile){
					display:block;
					line-height: 20px;
					background: #fff;
					background: rgba(255, 255, 255, 0.8);
					color: #005146;
					width: 100%;
				    font-size: 14px;
					width: 100%;    
					border-top: 1px solid #A9A5A5;
					@include border-radius(0);
				}
				span {
					display: block;
				}
				&:hover, &.active {
					background-color: #ffeb0c;
					/* background: -moz-linear-gradient(left,  rgba(245,241,155,1) 0%, rgba(245,241,155,0) 100%);
					background: -webkit-linear-gradient(left,  rgba(245,241,155,1) 0%,rgba(245,241,155,0) 100%);
					background: linear-gradient(to right,  rgba(245,241,155,1) 0%,rgba(245,241,155,0) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f19b', endColorstr='#00f5f19b',GradientType=1 ); */
				}
			}
		}
	}
}
.btn-menu-mob {
	background: url('../images/menu.png') no-repeat;
	width: 118px;
	height: 56px;
	text-indent: -9999px;
	display: block;
	margin: 0 auto;
}
