.mfp-wrap button.mfp-close {
	background: url('../images/btn_close.png') no-repeat;
	max-width: 45px;
	height: 55px;
	background-size: 100% 100%;
	text-indent: -9999px;
    top: -30px;
    right: -20px;
    font-size: 0;
}
.mfp-iframe-holder {
	iframe {
		border: 2px solid #fff;
	}
}
.mfp-inline-holder{

	::-webkit-scrollbar-track
	{
		margin:5px;
		background-color: #F8F8F8;
	}

	::-webkit-scrollbar
	{
		width: 10px;
		background-color: #F8F8F8;
	}

	::-webkit-scrollbar-thumb
	{
		background-color: #00c8db;
		@include border-radius(20px);
	}
	.mfp-content{
		background: #fff;
		max-width: 980px;
		margin: 0 auto;
		text-align: center;
		@include border-radius(10px);
		h2 {
			background: #ededed url('../images/trungiphone/heading-popup.png') no-repeat center;
			text-indent: -999999px;
			min-height:85px;
			@include border-radius(10px,10px,0,0);
		}
		h3 {
			background: url('../images/trungiphone/week-title.png') no-repeat center;
			text-indent: -999999px;
			min-height:85px;
		}
		.box-img {
			max-height: 535px;
			overflow-y:auto;
			margin: 0 10px 20px; 
			p{
				font-size: 21px;
				color: #005045;
				margin: 20px 0 30px;
			}
		}

	}
}
.mfp-content {
	@include respond-to(ipad){
		max-width: 94%;
	}
	@include respond-to(mobile){
		max-width: 94%;
	}
}